<div class="gh-notification-details">
    <table>
        {{#each pullRequests}}
            <tr>
                <td colspan="3">
                    <!--<img class="avatar" src="{ {user.avatar_url}}" title="{ {user.login}}"/>-->
                    <h2>
                        <a href="https://github.com/CarMax/carmax.com/pull/{{number}}">{{branch}}</a>
                        <small>({{numMerges}} merges)</small>
                    </h2>
                    <p>Total Time: {{totalTime}}</p>
                    {{#if timeToMerge}}
                        <p>Time to Merge: {{timeToMerge}}</p>
                    {{/if}}
                </td>
            </tr>
            {{#if labels.length}}
                {{#each labels}}
                    <tr>
                        <td>
                            <svg class="icon {{action}}">
                                <use xlink:href="#circled-plus"></use>
                            </svg>
                            <span class="label" style="color:#{{textColor}};background:#{{color}};">
                                {{text}}
                            </span>
                            <span class="duration">
                                {{duration}}
                            </span>
                        </td>
                        <td>
                            <img class="avatar" src="{{user.avatar_url}}"/>
                            <div class="login">{{user.login}}</div>
                        </td>
                        <td>
                            {{ago}}
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <td colspan="3">
                    There are no label events for this branch yet.
                </td>
            {{/if}}
        {{/each}}
    </table>
</div>
