<div class="gh-notification-details">
    <table>
        {{#each pullRequests}}
            <tr>
                <td colspan="4">
                    <!--<img class="avatar" src="{{pull_request.user.avatar_url}}" title="{{pull_request.user.login}}"/>-->
                    <h2>
                        <a href="https://github.com/CarMax/carmax.com/pull/{{number}}">{{branch}}</a>
                        <small>({{merges}} merges)</small>
                    </h2>
                </td>
            </tr>
            {{#if hasLabel}}
                <!--<tr>-->
                    <!--<th>Label</th>-->
                    <!--<th>Updated by</th>-->
                    <!--<th>Time</th>-->
                    <!--<th>Description</th>-->
                <!--</tr>-->
                {{#each events}}
                    <tr>
                        <td>
                            <svg class="icon {{action}}">
                                <use xlink:href="#circled-plus"></use>
                            </svg>
                            <span class="label" style="color:#{{label.textColor}};background:#{{label.color}};">
                                {{label.name}}
                            </span>
                        </td>
                        <td>
                            <img class="avatar" src="{{sender.avatar_url}}"/>
                            <div class="login">{{sender.login}}</div>
                        </td>
                        <td>
                            {{ago}}
                        </td>
                        <td class="description">
                            {{pull_request.title}}
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <td colspan="4">
                    There are no label events for this branch yet.
                </td>
            {{/if}}
        {{/each}}
    </table>
</div>
